<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section about">
        <img src="../../assets/aksha-logo-white.png" alt="Aksha Hospital Logo" class="footer-logo">
        <p>Aksha Hospital is a multidisciplinary super speciality hospital with a genuine commitment to offering world-class healthcare facilities at affordable cost. Our team of highly experienced doctors ensure every patient gets the best treatment, and the best care, every time.</p>
        <!-- <div class="social-links">
            <h3 class="social">Social Media Link</h3>
          <a class="social-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="white" d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02"/></svg></a>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="#ffffff" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg></a>
        </div> -->
      </div>
  
      <div class="footer-section links">
        <h3 class="quick">Quick Links</h3>
        <ul>
          <li><img class="footer-icon" src="../../assets/footer-icon-1.svg"><a href="#">Home</a></li>
          <li><img class="footer-icon" src="../../assets/footer-icon-1.svg"><a href="#">About Us</a></li>
          <li><img class="footer-icon" src="../../assets/footer-icon-1.svg"><a href="#">Our Team</a></li>
          <li><img class="footer-icon" src="../../assets/footer-icon-1.svg"><a href="#">Services</a></li>
          <li><img class="footer-icon" src="../../assets/footer-icon-1.svg"><a href="#">Gallery</a></li>
          <li><img class="footer-icon" src="../../assets/footer-icon-1.svg"><a href="#">Blog</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-1.svg"><a href="#">Contact Us</a></li>
        </ul>
      </div>
  
      <div class="footer-section center-of-excellence">
        <h3 class="center">Center of Excellence</h3>
        <ul>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">Obstetrics & Gynecologists</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">Surgery + Gastrosurgery</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">General Physician</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">Paediatric & NICU</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">Pediatrician</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">Orthopedic</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">Pediatric Surgery</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">Dermatology</a></li>
          <li><img class="footer-icon"src="../../assets/footer-icon-2.svg"><a href="#">ENT</a></li>
        </ul>
      </div>
  
      <div class="footer-section contact-info">
        <div class="font">
            <h3 class="contact">Contact Us</h3>
        
          <div class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/></svg></div><span class="detail">08026772555/2677 2878,<br>+917259833311</span>
          <div class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="m20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2"/></svg></div><span class="detail">mail&#64;akshahospital.in</span><br>
          <div class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M19 19V8H5v11zM16 1h2v2h1a2 2 0 0 1 2 2v14c0 1.11-.89 2-2 2H5a2 2 0 0 1-2-2V5c0-1.11.89-2 2-2h1V1h2v2h8zm-5 8.5h2v3h3v2h-3v3h-2v-3H8v-2h3z"/></svg></div> <span class="detail">Book An Appointment</span>
        </div>
      </div>
    </div>
    <div class="social-links">
        <h3 class="social">Social Media Link</h3>
      <a class="social-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="white" d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02"/></svg></a>
      <a class="insta" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="#ffffff" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg></a>
    </div>
    <div class="address-info">
    <h3 class="address">Address</h3>
          <p>
            <div class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="currentColor" d="m19.799 5.165l-2.375-1.83a2 2 0 0 0-.521-.237A2 2 0 0 0 16.336 3H9.5l.801 5h6.035c.164 0 .369-.037.566-.098s.387-.145.521-.236l2.375-1.832c.135-.091.202-.212.202-.334s-.067-.243-.201-.335M8.5 1h-1a.5.5 0 0 0-.5.5V5H3.664c-.166 0-.37.037-.567.099c-.198.06-.387.143-.521.236L.201 7.165C.066 7.256 0 7.378 0 7.5c0 .121.066.242.201.335l2.375 1.832c.134.091.323.175.521.235c.197.061.401.098.567.098H7v8.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-17a.5.5 0 0 0-.5-.5"/></svg></div><span class="detail door">50, 9th Cross Rd, K.R.Road, 7th Block, Jayanagar, Bengaluru, Karnataka 560070</span>
        </div>
    <div class="footer-bottom">
      <p>©2024 Aksha Hospital All Rights Reserved | <a href="#">Privacy Policy</a> | <a href="#">Disclaimer</a> | <a href="#">Terms Of Use</a> | Website Design by Invention Minds</p>
    </div>
  </footer>
  