<div class="root_container">
<app-specialities-design 
heading="ENT" 
para_1="The Department of Ear, Nose & Throat (ENT) aims to provide high-quality medical care and treatment for the entire range of ear, nose, and throat problems. Aksha Hospital is a comprehensive center equipped to deal with all ENT problems. Here, the synergy between technical innovation and well-trained manpower aims to provide the best possible treatment. The Division runs an exclusive center for voice disorders, one of the few such centers in the country."
para_2="It is well equipped with the latest diagnostic technology, including stroboscopes, videoscopes, and computer voice analysis, and is doing phonosurgeries with good voice results. We also offer Balloon Sinuplasty, which is the latest, minimally invasive solution for sinusitis. One of the few centers in the country having computer navigation units, we ensure accurate and safe endoscopic sinus surgery for advanced sinus diseases."
para_3="The department also provides audiology, voice, and speech therapy as allied services for voice problems, stammering, autism, and other speech problems. We also have a unit dealing with swallowing problems. The department is well-equipped to take care of all ear, nose, and throat emergencies."
image="../../assets/specialiti/Ent.png"
></app-specialities-design>

<div class="team_heading">Meet Our Medical specialists</div>
<div class="doctor_details">
    <app-doctor-structure *ngFor = 'let doctor of doctors'
    image = {{doctor.image}}
    name = "{{doctor.name}}" 
    desgination = {{doctor.designation}}
    qualification = {{doctor.qualification}}
    about = {{doctor.about}}
    description = ""
    ></app-doctor-structure>
</div>
</div>