<!-- <div class="home-parent">
    <div>
<img class="aksha-logo" src="../../assets/aksha-logo.png">
    </div>
    <div>
<ul>
    <li>Home</li>
    <li>About Us</li>
    <li>Doctors</li>
    <li>Services</li>
    <li>Blog</li>
    <li>Gallery</li>
    <li>Contact Us</li>
</ul>
    </div>
    <div>
<button class="appointment">Book an Appointment</button>
    </div>
</div> -->


<!-- <div class="home-parent">
    <div class="logo-container">
        <img class="aksha-logo" src="../../assets/aksha-logo.png" alt="Aksha Hospital Logo">
    </div>
    <div class="nav-container">
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Specialties</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="appointment-container">
        <button class="appointment">Book Appointment</button>
    </div>
</div> -->
<div class="home-parent">
    <div class="logo-container">
        <img class="aksha-logo" src="../../assets/aksha-logo.png" alt="Aksha Hospital Logo">
    </div>
    <div class="nav-container" [ngClass]="{'open': isMenuOpen}">
        <ul class="nav-list">
            <li><a routerLink="/" routerLinkActive="active-link"(click)="closeMenu()">Home</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active-link"(click)="closeMenu()">About Us</a></li>
            <li><a routerLink="/doctors" routerLinkActive="active-link"(click)="closeMenu()">Doctors</a></li>
            <li><a routerLink="/" routerLinkActive="active-link"(click)="closeMenu()">Specialties</a></li>
            <li><a routerLink="/services" routerLinkActive="active-link"(click)="closeMenu()">Services</a></li>
            <li><a routerLink="/" routerLinkActive="active-link"(click)="closeMenu()">Blog</a></li>
            <li><a routerLink="/" routerLinkActive="active-link"(click)="closeMenu()">Gallery</a></li>
            <li><a routerLink="/contact-us" routerLinkActive="active-link"(click)="closeMenu()">Contact Us</a></li>
        </ul>
    </div>
    <div class="appointment-container">
        <button class="appointment">Book Appointment</button>
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>


<!-- <div class="home-parent">
    <b class="home">Home</b>
    <div class="about-us">About Us</div>
    <div class="doctor">Doctor</div>
    <div class="services">Services</div>
    <div class="blog">Blog</div>
    <div class="gallery">Gallery</div>
    <div class="contact-us">Contact Us</div>
    <img class="aksha-3-32-1" alt="AkshaHospital" src="../../assets/aksha-logo.png">
    <div class="heading-2">
    <div class="link">
    <div class="book-appointment">Book Appointment</div>
    </div>
    </div>
    <div class="specialties-parent">
    <div class="specialties">Specialties</div>
    <img class="group-child" alt="AkshaHospital" src="../../assets/drop-down-arrow.png">
    </div>
    </div> -->