<div class="root_container">
    <div class="container_1">
        <div class="Obstetrics_heading">Paediatrics</div>
        <div class="container_1_content">
            <div class="content_1_text">
                <div class="content_1_para">Pediatrics is a medical discipline focused on individuals from birth to the end of adolescence. The care of pediatric patients is different from that of adults, as many drugs are processed differently in these two groups. Growth and development are also more important in pediatric patients than in adults. We boast of a vastly experienced team of pediatricians and nurses, not to mention our state-of-the-art facilities.</div>
                <div class="content_1_para content_2_para">The Department has a proven track record of successfully treating many complex cases related to pregnancy and childbirth. Sympathetic care, remarkable nursing, and commitment beyond measure are the key plus points of our competent team of obstetricians.</div>
                <div class="content_1_para content_2_para">You may rest assured that your little one is in safe hands at Aksha. Our expert team of pediatricians provides the best pediatric care in the city. Our friendly children’s specialists and special kid’s center make the pediatric hospital a kid-friendly place. The specially designed kid’s play area keeps the atmosphere happy and relaxed, which in turn facilitates the speedy recovery and healthy growth and development of kids.</div>
            </div>
        </div>
    </div>

    <!-- container 2 -->

    <div class="container_2">
        <div class="container_2_content">
            <div class="container_2_heading">Pediatric & NICU</div>
            <div class="container_2_para">Pediatrics is the branch of medicine dealing with the health and medical care of infants, children, and adolescents from birth up to the age of 18. NICU refers to the Neonatal Intensive Care Unit. The birth of a baby is a wonderful and very complex process. Many physical and emotional changes occur for both mother and baby. A baby must make many physical adjustments to life outside the mother’s body. Leaving the uterus means that a baby can no longer depend on the mother’s blood supply and placenta for important body functions. We can manage preborn babies from 32 weeks.</div>
        </div>
        <div class="container_2_image">
            <img src="../../assets/specialiti/pediatric_container_2_img.png" alt="">
        </div>
    </div>

    <!-- container_4 -->

    <div class="container_4">
        <div class="container_4_content">
            <div class="box_1">
                <div class="box_1_content">
                    <div class="container_4_heading">Pediatric Surgery</div>
                    <div class="box_1_para">Service is provided 24-hours a day and includes diagnosis, consultation, management, and follow-up care administered by a highly-experienced team of pediatric surgeons, nurses, and other specialists such as pediatric anesthesiologists.</div>
                </div>
                <div class="box_1_img">
                    <img src="../../assets/specialiti/pediatric_container_3_image_2.png" alt="">
                </div>
            </div>
            <div class="box_1 box_2">
                <div class="box_1_img box_2_img">
                    <img src="../../assets/specialiti/pediatric_container_3_image_1.png" alt="">
                </div>
                <div class="box_1_content">
                    <div class="box_1_para">Aksha Hospital treats a variety of Paediatric conditions occurring throughout infancy and childhood. Pediatric surgery deals with surgical care for children from the day of their birth to 18 years of age. The common problems that are treated by a pediatric surgery team include : </div>
                    <div class="box_1_para box_2_para">
                        <ul class="box_1_list">
                            <li class="box_1_list_item">Congenital and developmental anomalies</li>
                            <li class="box_1_list_item">Infectious conditions</li>
                            <li class="box_1_list_item">Trauma and injuries</li>
                            <li class="box_1_list_item">Solid tumors</li>
                            <li class="box_1_list_item">Cancers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- doctors -->

    <div class="team_heading">Meet Our Medical Specialists</div>

    <div class="doctor_details">
        <app-doctor-structure *ngFor = 'let doctor of doctors'
        image = {{doctor.image}}
        name = {{doctor.name}}
        desgination = {{doctor.designation}}
        qualification = {{doctor.qualification}}
        about = {{doctor.about}}
        description = ""
        slug={{doctor.slug}}
        ></app-doctor-structure>
    </div>
    </div>