<div class="root_container">
    <div class="container_1">
        <div class="Obstetrics_heading">Pediatrician</div>
        <div class="container_1_content">
            <div class="content_1_text">
                <div class="content_1_para">Pediatrics is a medical discipline focused on individuals from birth to the end of adolescence. The care of pediatric patients is different from that of adults, as many drugs are processed differently in these two groups. Growth and development are also more important in pediatric patients than in adults. We boast of a vastly experienced team of pediatricians and nurses, not to mention our state-of-the-art facilities.</div>
                <div class="content_1_para content_2_para">The Department has a proven track record of successfully treating many complex cases related to pregnancy and childbirth. Sympathetic care, remarkable nursing, and commitment beyond measure are the key plus points of our competent team of obstetricians.</div>
                <div class="content_1_para content_2_para">You may rest assured that your little one is in safe hands at Aksha. Our expert team of pediatricians provides the best pediatric care in the city. Our friendly children’s specialists and special kid’s center make the pediatric hospital a kid-friendly place. The specially designed kid’s play area keeps the atmosphere happy and relaxed, which in turn facilitates the speedy recovery and healthy growth and development of kids.</div>
            </div>
        </div>
    </div>

    <!-- container 2 -->

    <div class="container_2">
        <div class="container_2_content">
            <div class="container_2_heading">Pediatric & NICU</div>
            <div class="container_2_para">Pediatrics is a medical discipline focused on individuals from birth to the end of adolescence. The care of pediatric patients is different from that of adults, as many drugs are processed differently in these two groups. Growth and development are also more important in pediatric patients than in adults. We boast of a vastly experienced team of pediatricians and nurses, not to mention our state-of-the-art facilities.</div>
            <div class="container_2_para">The Department has a proven track record of successfully treating many complex cases related to pregnancy and childbirth. Sympathetic care, remarkable nursing, and commitment beyond measure are the key plus points of our competent team of obstetricians.</div>
            <div class="container_2_para">You may rest assured that your little one is in safe hands at Aksha. Our expert team of pediatricians provides the best pediatric care in the city. Our friendly children’s specialists and special kid’s center make the pediatric hospital a kid-friendly place. The specially designed kid’s play area keeps the atmosphere happy and relaxed, which in turn facilitates the speedy recovery and healthy growth and development of kids.</div>
        </div>
        <div class="container_2_image">
            <img src="../../assets/specialiti/pediatric_container_2_img.png" alt="">
        </div>
    </div>

    <!-- container_4 -->

    <div class="container_4">
        <div class="container_4_heading">Pediatric Surgery</div>
        <div class="container_4_content">
            <div class="box_1">
                <div class="box_1_content">
                    <div class="box_1_para">Aksha aims to provide world-class, evidence-based treatment for various orthopedic disorders and sports injuries. We combine our expertise in patient care, clinical research, and academics in order to provide the highest level of specialized services to our patients. The Department comprises a multispecialty group of surgical, research, and clinical doctors who care for thousands of people annually. Subspecialties within the department include shoulder and knee, arthroscopy and sports injuries, and adult reconstruction. </div>
                    <div class="box_1_para box_2_para">The department of orthopaedics at Aksha Hospital deals with trauma care and various disorders of the skeletal system. It includes orthopedic surgeons performing various surgeries such as daycare surgery, trauma care, arthroscopic procedures, and joint replacement and revision joint surgery.</div>
                    <div class="box_1_para box_2_para">We also have a team involved in rehabilitation with inpatient and outpatient physiotherapy services.</div>
                </div>
                <div class="box_1_img">
                    <img src="../../assets/specialiti/pediatric_container_3_image_2.png" alt="">
                </div>
            </div>
            <div class="box_1 box_2">
                <div class="box_1_img">
                    <img src="../../assets/specialiti/pediatric_container_3_image_1.png" alt="">
                </div>
                <div class="box_1_content">
                    <div class="container_4_heading">Cervical Cerclage</div>
                    <div class="box_1_para box_2_para">During pregnancy, the cervix is supposed to remain constricted to ensure that the fetus remains inside the womb the entire gestational period. Sometimes the cervical muscles weaken, causing them to shorten or open up easily, resulting in late abortion or preterm delivery. To treat this, a cervical cerclage or cervical stitch is made, which is basically a suture tied around the cervix.</div>
                </div>
            </div>
        </div>
    </div>

    <!-- doctors -->

    <div class="team_heading">Meet Our Medical specialists</div>

    <div class="doctor_details">
        <app-doctor-structure 
        image = "../../assets/doctor-1.png" 
        name = "Dr. Bhoopal" 
        desgination = "Consultant- Psychiatrist"
        qualification = "MBBS, MD - Psychiatry"
        about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
        description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
        ></app-doctor-structure>
        <app-doctor-structure 
        image = "../../assets/doctor-1.png" 
        name = "Dr. Bhoopal" 
        desgination = "Consultant- Psychiatrist"
        qualification = "MBBS, MD - Psychiatry"
        about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
        description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
        ></app-doctor-structure>
    </div>
    </div>