<div class="root_container">
<app-specialities-design 
heading="Oncology and Onco Surgery"
para_1="The Department of Oncology has eminent specialists with training from the best institutions in the country. They follow internationally accepted, protocol-based practice with quality care."
image="../../assets/specialiti/Oncology.png"
></app-specialities-design>
<div class="team_heading">Meet Our Medical specialists</div>
<div class="doctor_details">
    <app-doctor-structure 
    image = "../../assets/doctor-1.png" 
    name = "Dr. Bhoopal" 
    desgination = "Consultant- Psychiatrist"
    qualification = "MBBS, MD - Psychiatry"
    about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
    description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
    ></app-doctor-structure>
    <app-doctor-structure 
    image = "../../assets/doctor-1.png" 
    name = "Dr. Bhoopal" 
    desgination = "Consultant- Psychiatrist"
    qualification = "MBBS, MD - Psychiatry"
    about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
    description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
    ></app-doctor-structure>
</div>
</div>