<div class="root_container">
    <div class="container_1">
        <div class="speciality_contents">
            <div class="speciality_heading">Cardiology</div>
            <div class="para">Cardiology is a medical specialty and a branch of internal medicine concerned with disorders of the heart. It deals with the diagnosis and treatment of such conditions as congenital heart defects, coronary artery disease, electrophysiology, heart failure, and valvular heart disease. Subspecialties of the cardiology field include cardiac electrophysiology, echocardiography, interventional cardiology, and nuclear cardiology.</div>
            <div class="para">Our team of expert cardiologists consists of doctors from all over the country with extensive experience. Some of the major treatments and services we offer at Aksha are:</div>
            <ul class="speciality_lists">
                <li class="list_item">Cardiovascular Diseases</li>
                <li class="list_item">Angina Pectoris</li>
                <li class="list_item">Pediatric Cardiac Treatment</li>
            </ul>
        </div>
        <div class="speciality_img">
            <img src="../../assets/specialiti/Cardiology.png" alt="">
        </div>
    </div>

    <!-- doctor details -->

    <div class="team_heading">Meet Our Medical specialists</div>
    <div class="doctor_details">
        <app-doctor-structure *ngFor = 'let doctor of doctors'
        image = {{doctor.image}}
        name = "{{doctor.name}}" 
        desgination = {{doctor.designation}}
        qualification = {{doctor.qualification}}
        about = {{doctor.about}}
        description = ""
        ></app-doctor-structure>
    </div>
</div>