<div class="root_container">
    <div class="container_1">
        <div class="speciality_contents">
            <div class="speciality_heading">General Physician</div>
            <div class="para">With healthcare now becoming a priority to most, even the smallest signs of sickness receive care. From an itchy throat to a mild cough or a spike in temperature, many rush to clinics to seek care from general physicians. Our general physicians are highly trained specialists who provide non-surgical health care to patients. They evaluate the medical condition of the patients by suggesting a few lab tests to finalize the diagnosis. They also perform health check-ups on a regular basis to evaluate the status of a disease or medical condition. </div>
            <div class="services_offer">These are a few things that our physicians do:</div>
            <ul class="speciality_lists">
                <li class="list_item">Diagnose conditions</li>
                <li class="list_item">Conduct routine checkups.</li>
                <li class="list_item">Recommend medical tests for further diagnosis</li>
                <li class="list_item">Assess a patient’s condition and review medical history.</li>
                <li class="list_item">Assist in routine surgery</li>
                <li class="list_item">Counsel patients on wellbeing and proper self-care.</li>
                <li class="list_item">Maintain patient records for optimal preventive care.</li>
            </ul>
        </div>
        <div class="speciality_img">
            <img src="../../assets/specialiti/general_physician.png" alt="">
        </div>
    </div>

    <!-- doctor details -->

    <div class="container_2">
        <div class="team_heading">Meet Our Medical Team</div>
        <div class="doctors_container">
            <div class="doc_1">
                <img src="../../assets/doctor-1.png" alt="">
                <div class="doc_name">Dr. Bhoopal </div>
                <div class="qualification">MBBS, DGO</div>
                <div class="department">Obstertrics & Gynaecologist</div>
            </div>
            <div class="doc_1">
                <img src="../../assets/doctor-1.png" alt="">
                <div class="doc_name">Dr. Bhoopal </div>
                <div class="qualification">MBBS, DGO</div>
                <div class="department">Obstertrics & Gynaecologist</div>
            </div>
        </div>
    </div>
</div>