@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.accordion {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    /* transition:  1s ease; */
    background: #fff;
    border-radius: 20px;
  }

  .accordion-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  .card_title{
    font-family: "Open sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .services_icons{
    width: 50px;
    height: 50px;
  }

  .flex_box{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .accordion-content {
    margin-top: 10px;
    height: 150px;
    transition: 1s ease;
    animation: dropdown 0.5s linear;
  }

  .ng_content{
    margin: 5% 5% 0 5%;
  }

  .description{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.dropdown-close{
    opacity: 0;
    transition: 0.5s;
    height: 0;
    color: black;
    padding: 0;
    margin: 0;
}

  @keyframes dropdown{
    from{
      height: 0px;
    }

    to{
      height: 150px;
    }
  }
  
  .accordion.active {
    background: linear-gradient(109deg, #0F94B2 0%, #312A77 97.87%);
    color: white;
    transition: 1s ease;
  }

  .angle{
    margin-right: 3%;
  }

  @media(max-width : 500px){
    .card_title{
      font-size: 14px;
    }

    .services_icons{
      width: 30px;
      height: 30px;
    }
  }   



  