<div class="root_container">
    <div class="container_1">
        <div class="Obstetrics_heading">Surgery + Gastrosurgery</div>
        <div class="container_1_content">
            <div class="content_1_text">
                <div class="content_1_para">Gastroenterology is a specialty of medicine that focuses on the diseases affecting the digestive system. This includes the esophagus, stomach, small intestine, colon and rectum, pancreas, gallbladder, bile ducts, and liver. Though many types of digestive problems can be treated with lifestyle changes and medicines, some of them might require a surgical intervention. Surgical gastroenterology is a part of gastroenterology that is related to treating gastric disorders that might require surgical intervention.</div>
                <div class="content_1_para content_1_para_2">Surgical gastroenterologists at Aksha Hospital work in tandem with an efficient medical team comprising of physician assistants, nurse practitioners, dieticians, and occupational or physical therapists to ensure that you receive service beyond the concept of care.</div>
            </div>
            <div class="content_1_image">
                <img src="../../assets/specialiti/surgery_container_1_img.png" alt="">
            </div>
        </div>
    </div>

    <!-- container 2 -->

    <div class="container_2_heading">Common surgeries in Gastroenterology and General Surgery</div>
    <div class="container_2">
        <div class="container_2_content">
            <div class="container_2_para">General surgery is a surgical speciality that focuses on abdominal contents, including the oesophagus, stomach, small intestine, large intestine, liver, pancreas, gallbladder, appendix, bile ducts, and often the thyroid gland (depending on local referral patterns). They also deal with diseases involving the skin, breast, soft tissue, trauma, peripheral vascular disease, and hernias. Some of the surgical procedures performed by our gastroenterologists and general surgeons include: Whipple’s Pancreaticoduodenectomy Choledochal cyst and hepaticojejunostomy Frey’s pancreaticojejunostomy Splenectomy Hydatid cyst liver excision (open and laparoscopic) Cholecystectomies (open and laparoscopic) Palliative bypass surgeries</div>
        </div>
        <div class="container_2_image">
            <img src="../../assets/specialiti/surgery_container_2_image.png" alt="">
        </div>
    </div>

    <!-- container 3 -->

    <div class="container_3">
        <div class="container_3_content">
            <div class="content_img">
                <img src="../../assets/specialiti/surgery_container_3_content_image.png" alt="">
            </div>
            <div class="con_3_con_text">
                <div class="container_3_heading">Endoscopic Procedures</div>
                <div class="container_3_para">IEndoscopic surgery is performed using a scope, a flexible tube with a camera, and light at the tip. This allows your surgeon to see inside the organ and perform procedures without making major incisions, allowing for easier recovery time and less pain and discomfort. Some procedures performed include: diagnostic procedures in gastroscopy and colonoscopy Therapeutic procedures like banding, sclerotherapy, balloon esophagus dilatation, stent placements, PEG tube insertions, and polypectomies. ERCP procedures are also done here.</div>
            </div>
        </div>
        <div class="container_3_img">
            <img src="../../assets/specialiti/surgery_container_3_image.png" alt="">
        </div>
    </div>
    

    <div class="team_heading">Meet Our Medical specialists</div>
    <div class="doctor_details">
        <app-doctor-structure 
        image = "../../assets/doctor-1.png" 
        name = "Dr. Bhoopal" 
        desgination = "Consultant- Psychiatrist"
        qualification = "MBBS, MD - Psychiatry"
        about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
        description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
        ></app-doctor-structure>
        <app-doctor-structure 
        image = "../../assets/doctor-1.png" 
        name = "Dr. Bhoopal" 
        desgination = "Consultant- Psychiatrist"
        qualification = "MBBS, MD - Psychiatry"
        about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
        description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
        ></app-doctor-structure>
    </div>
    </div>