<div class="root_container">
    <div class="container_1">
        <div class="speciality_contents">
            <div class="speciality_heading">Urology</div>
            <div class="para">Urologists diagnose and treat problems involving the male and female urinary tract and the male reproductive organs. Urologists work with a team of doctors trained in many areas to determine the most appropriate treatment for your individual needs.</div>
            <div class="para">Aksha offers several surgical services and procedures, including but not limited to those listed below..</div>
            <ul class="speciality_lists">
                <li class="list_item">Benign Condition BPH, Kidney Infections</li>
                <li class="list_item">Cancers Involving Kidney, Bladder, Prostate, and Testies.</li>
                <li class="list_item">Treatment of Kidney Stones with Extracorporeal Shock Wave Lithotripsy (ESWL)</li>
                <li class="list_item">Percutaneous Nephrolithotomy (PCNL)</li>
                <li class="list_item">Laser Stone Surgeries (RIRS)</li>
            </ul>
            <div class="para">Adopting healthy choices into your everyday life with proper instructions from your urologist can help you fight diabetes and reduce the risk of developing complications related to urology. Aksha Hospital would be the best place to visit.</div>
        </div>
        <div class="speciality_img">
            <img src="../../assets/specialiti/urology.png" alt="">
        </div>
    </div>

    <!-- doctor details -->

    <div class="team_heading">Meet Our Medical specialists</div>
    <div class="doctor_details">
        <app-doctor-structure *ngFor = 'let doctor of doctors'
        image = {{doctor.image}}
        name = {{doctor.name}} 
        desgination = {{doctor.designation}}
        qualification = {{doctor.qualification}}
        about = {{doctor.about}}
        description = ""
        slug={{doctor.slug}}
        ></app-doctor-structure>
    </div>
    
</div>