<div class="root_container">
    <div class="container_1">
        <div class="speciality_contents">
            <div class="speciality_heading">Radiology</div>
            <div class="para">The department of Radiology & Imaging at Aksha offers a complete range of diagnostic and interventional radiology services while maintaining the values of safety and patient-focused care. The department has modern, state-of-the-art equipment.</div>
            <div class="para">
                The department is open 24 x 7 for all routine and emergency imaging services. The team of radiologists and radiology technologists possesses not only general expertise but also subspecialty experience. Our consultant radiologists are well trained at some of the world’s best hospitals and are experts in all aspects of imaging.</div>
            <div class="services_heading">SERVICES</div>
            <div class="services_offer">The services that we offer are:</div>
            <ul class="speciality_lists">
                <li class="list_item">OBG Scans(Pregnancy, Anamoly, Fertility, TVS)</li>
                <li class="list_item">Neuro-imaging</li>
                <li class="list_item">Gastrointestinal and hepatobiliary imaging</li>
                <li class="list_item">Diagnostic and interventional musculoskeletal and sports imaging</li>
                <li class="list_item">Paediatric</li>
                <li class="list_item">Vascular / gastrointestinal/ renal/neuro-interventional procedures</li>
            </ul>
        </div>
        <div class="speciality_img">
            <img src="../../assets/specialiti/radiology.png" alt="">
        </div>
    </div>

    <!-- doctor details -->

    <div class="team_heading">Meet Our Medical specialists</div>
    <div class="doctor_details">
        <app-doctor-structure 
        image = "../../assets/doctor-1.png" 
        name = "Dr. Bhoopal" 
        desgination = "Consultant- Psychiatrist"
        qualification = "MBBS, MD - Psychiatry"
        about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
        description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
        ></app-doctor-structure>
        <app-doctor-structure 
        image = "../../assets/doctor-1.png" 
        name = "Dr. Bhoopal" 
        desgination = "Consultant- Psychiatrist"
        qualification = "MBBS, MD - Psychiatry"
        about = "Aksha Hospital is the brainchild of Dr Bhoopal TS."
        description = "It is the result of his dedication and hard work of his lifetime in the medical field. Dr Bhoopal TS, an eminent doctor, working since its inception in Sri Jayadeva Institute of Cardiology..."
        ></app-doctor-structure>
    </div>
</div>