<div class="root_container">
    <div class="container_1">
        <div class="Obstetrics_heading">Obstetrics & Gynaecology</div>
        <div class="container_1_content">
            <div class="content_1_text">
                <div class="content_1_heading">Maternal Care / Checkup </div>
                <div class="content_1_para">Maternal Care/Checkup is a comprehensive program for healthcare professionals, mainly gynecologists and obstetricians, covering all the common and important problems that occur during pregnancy, labor, delivery, and the postpartum period. While motherhood is often a positive and fulfilling experience, for many women, it is associated with suffering, ill health, and even death. The risks or conditions that were pre-existing or the ones that had developed during the pregnancy highly influence the health of a mother. Thus, improving the well-being of mothers, infants, and children is a crucial health goal. Their well-being influences the health of the next generation.</div>
            </div>
            <div class="content_1_image">
                <img src="../../assets/specialiti/Obstetrics_container_1_img.png" alt="">
            </div>
        </div>
    </div>

    <!-- doctor details -->

    <div class="team_heading">Meet Our Medical Specialists</div>
    <div class="doctor_details">
        <app-doctor-structure *ngFor = 'let doctor of doctors'
        image = {{doctor.image}}
        name = {{doctor.name}} 
        desgination = {{doctor.designation}}
        qualification = {{doctor.qualification}}
        about = {{doctor.about}}
        description = ""
        slug={{doctor.slug}}
        ></app-doctor-structure>
    </div>

    <!-- container 2 -->

    <div class="container_2">
        <div class="container_2_content">
            <div class="container_2_heading">The Best Maternity Hospital in Jayanagar Bangalore</div>
            <div class="container_2_para">When it comes to gynecology and maternity care, Aksha Hospital is recognized as the Best Maternity Hospital in Jayanagar Bangalore and one of the Best Gynecology Hospitals in Jayanagar Bangalore. Our commitment to providing comprehensive care for women’s health makes us a trusted name in the region. Whether it’s maternity care in Bangalore, high-risk pregnancy support, or female infertility treatment, Aksha Hospital offers world-class services with a team of experienced and skilled gynecologists.</div>
        </div>
        <div class="container_2_image">
            <img src="../../assets/specialiti/obstetrics_container_2_img.png" alt="">
        </div>
    </div>

    <!-- container 3 -->

    <div class="container_3">
        <div class="container_3_content">
            <div class="content_img">
                <img src="../../assets/specialiti/container_3_img_1.png" alt="">
            </div>
            <div class="con_3_con_text">
                <div class="container_3_heading">Female Infertility Treatment</div>
                <div class="container_3_para">Infertility treatment helps couples who are unable to conceive with conception. There are various types of treatment methods based on the cause of infertility. In the case of women, infertility is treated by medications or fertility drugs in cases of hormonal imbalance or problems related to ovulation. Surgery in case the fallopian tubes are blocked or similar such situations Use of assistive reproductive technology (ART) to solve infertility problems.</div>
            </div>
        </div>
        <div class="container_3_img">
            <img src="../../assets/specialiti/container_3_img_2.png" alt="">
        </div>
    </div>

    <!-- new container -->
    <h2 style="padding: 0 8%; margin: 0; text-align: center;" class="container_2_heading">Comprehensive Services at the Best Gynecology Hospital in Jayanagar Bangalore</h2>
    <div class="container_2">
        <div class="container_2_content">
            <div class="container_2_para"><b>Maternal Care and Checkups</b></div>
            <div class="container_2_para para_margin">As the Best Maternity Hospital in Jayanagar Bangalore, we focus on providing comprehensive maternal care checkups during pregnancy, labor, and postpartum. Our team of highly qualified pregnancy doctors ensures safe and healthy outcomes for both mother and baby, making us a preferred choice for pregnancy care in Bangalore.</div>
            <div class="container_2_para subheading_margin"><b>High-Risk Pregnancy Support</b></div>
            <div class="container_2_para para_margin">High-risk pregnancies require expert care, and Aksha Hospital, the Best Maternity Hospital in Jayanagar Bangalore, excels in providing support for complex cases. With specialized services like prenatal care, fetal surveillance, and genetic counseling, our highly qualified gynecologists in Jayanagar Bangalore ensure the safety of both mother and child.</div>
            <div class="container_2_para subheading_margin"><b>Affordable Maternity Packages in Jayanagar Bangalore</b></div>
            <div class="container_2_para para_margin">We are known for offering affordable maternity packages in Jayanagar Bangalore, ensuring that exceptional care is accessible to all. As the Best Maternity Hospital in Jayanagar Bangalore, we combine quality services with affordability, making us the first choice for expecting mothers.</div>
            <div class="container_2_para subheading_margin"><b>Female Infertility Treatment</b></div>
            <div class="container_2_para para_margin">As one of the Best Gynecology Hospitals in Jayanagar Bangalore, we specialize in advanced female infertility treatments, offering options such as fertility drugs, surgical interventions, and assistive reproductive technologies (ART). Our expert gynecologists in Bangalore are dedicated to helping couples achieve their dreams of parenthood.</div>
            <div class="container_2_para subheading_margin"><b>Laparoscopic Surgery</b></div>
            <div class="container_2_para para_margin">Known as the Best Gynecology Hospital in Jayanagar Bangalore, Aksha Hospital offers basic and advanced laparoscopic surgeries for various gynecological conditions. These minimally invasive procedures are performed by experienced and skilled gynecologists, ensuring faster recovery and minimal scarring.</div>
            <div class="container_2_para subheading_margin"><b>Cervical Cerclage and Hysterectomy</b></div>
            <div class="container_2_para para_margin">Our specialists provide treatments such as cervical cerclage for preventing preterm labor and abdominal and vaginal hysterectomies for managing gynecological conditions. With state-of-the-art technology, we uphold our reputation as the Best Gynecology Hospital in Jayanagar Bangalore.</div>
        </div>
    </div>

    <!-- container_4 -->

    <div class="container_4">
        <div class="container_4_heading">Basic and Advanced Laparoscopic Surgery</div>
        <div class="container_4_content">
            <div class="box_1">
                <div class="box_1_content">
                    <div class="box_1_para">Laparoscopy is a type of surgical procedure that doesn’t require large incisions; hence, it is called keyhole surgery or minimally invasive surgery. This is performed using an instrument called the laparoscope, which is basically a small tube with a light source and a camera. Small instruments are used to conduct the surgery, while the area is pumped with gas to make space. This way is more advantageous and has very fewer chances of complications. Advantages include faster recovery time, less bleeding post-op, and minor scars. Complications that could occur include minor bleeding, nausea, or infection.</div>
                </div>
                <div class="box_1_img">
                    <img src="../../assets/specialiti/container_4_box_1_img.png" alt="">
                </div>
            </div>
            <div class="box_1 box_2">
                <div class="box_1_img">
                    <img src="../../assets/specialiti/container_4_box_2_img.png" alt="">
                </div>
                <div class="box_1_content">
                    <div class="container_4_heading">Cervical Cerclage</div>
                    <div class="box_1_para box_2_para">During pregnancy, the cervix is supposed to remain constricted to ensure that the fetus remains inside the womb the entire gestational period. Sometimes the cervical muscles weaken, causing them to shorten or open up easily, resulting in late abortion or preterm delivery. To treat this, a cervical cerclage or cervical stitch is made, which is basically a suture tied around the cervix.</div>
                </div>
            </div>
        </div>
    </div>

    <!-- new container -->
     <h2 style="padding: 0 8%; margin: 0; text-align: center;margin-top: 30px;" class="container_2_heading">Why Aksha Hospital is the Best Maternity Hospital in Jayanagar Bangalore</h2>
     <div class="container_2">
        <div class="container_2_new_image">
            <img src="../../assets/best-gynaecology-hospital-in-jayanagar-bangalore.png" alt="">
        </div>
        <div class="container_2_content">
            <ol>
                <li class="container_2_para">Highly Qualified Gynecologists: Our team, led by Dr. Madhuri Sumanth, ensures exceptional care for women’s health, establishing us as the Best Gynecology Hospital in Jayanagar Bangalore.</li>
                <li class="container_2_para para_margin">Advanced Care for High-Risk Pregnancy: With expertise in managing complex cases, we are a trusted name for high-risk pregnancy support in Bangalore.</li>
                <li class="container_2_para para_margin">Affordable Pregnancy Packages: We offer affordable pregnancy packages in Bangalore, making quality maternity care accessible to all.</li>
                <li class="container_2_para para_margin">Comprehensive Neonatal Care: Our neonatal specialists in Bangalore ensure the best outcomes for newborns, further enhancing our position as the Best Maternity Hospital in Jayanagar Bangalore.</li>
                <li class="container_2_para para_margin">Focus on Women’s Health: From pregnancy counseling to female infertility treatment, we are committed to being a leader in women’s health care.</li>
            </ol>
        </div>
     </div>

    <!-- container 5 -->

    <div class="container_5">
        <div class="container_5_content">
            <div class="container_5_heading">Trust Aksha Hospital for Exceptional Gynecology and Maternity Care</div>
            <div class="container_5_para">Aksha Hospital is proud to be recognized as the Best Maternity Hospital in Jayanagar Bangalore and one of the Best Gynecology Hospitals in Jayanagar Bangalore. With services tailored to meet the unique needs of every woman, we ensure compassionate and affordable care. For expert care from highly qualified gynecologists in Jayanagar Bangalore, visit Aksha Hospital today.</div>
        </div>
        <div class="container_5_image">
            <img src="../../assets/specialiti/container_5_img.png" alt="">
        </div>
    </div>

    <!-- faq -->
     <div class="faq">
        <h2 style="padding: 0 8%; margin: 0 0 30px 0; text-align: center;" class="container_2_heading">FAQs</h2>
        <div class="container_6" *ngFor="let faq of faqs; let i = index">
          <app-faq [question]="faq.ques" [answer]="faq.ans" [quesNum]="i+1" />
        </div>
     </div>

</div>