*{
    padding: 0;
    margin: 0;
}

/* doctor details */

::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(148, 204, 204, 0.425);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    width: 9px;
    background: radial-gradient(131.63% 83.12% at 62.9% 68.58%, #9747FF 0%, #332876 100%);
    border-radius: 30px;
}

.doctor_details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0 0 10% 0;
    gap: 40px;
}

.team_heading{
    color: #222;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 70px 0;
}

@media (max-width : 500px){
    .doctor_details{
        flex-direction: column;
        align-items: center;
    }

    .team_heading{
        font-size: 24px;
        padding: 10%;
    }
}

