<div class="carousel-container" [style.backgroundImage]="'url(' + carouselItems[currentIndex].bgImage + ')'">
  <!-- Left Side: Content -->
  <div class="carousel-content">
    <div class="caro-text-content">
      <h1 [ngClass]="{
        'slide-up': animateOutgoing,
        'slide-down': animateIncoming
      }">{{ carouselItems[currentIndex].heading }}</h1>
      <p>{{ carouselItems[currentIndex].text }}</p>
      <button class="explore-btn"[ngStyle]="{'background-color': carouselItems[currentIndex].buttonColor}" (click)="navigateToPage()" >Explore Now</button>
    </div>
  </div>

  <!-- Right Side: Images -->
  <div class="caro-image-container">
    <!-- Active Big Image -->
    <img 
    [src]="carouselItems[currentIndex].image" 
    alt="Active Image" 
    class="active-image" 
    [ngClass]="{'slide-left': animateImageOut  }"
  />
  <!-- Small Upcoming Image -->
  <img 
    [src]="carouselItems[currentIndex].nextImage" 
    alt="Next Image" 
    class="next-image" 
    [ngClass]="{ 'slide-in-right': animateImageIn}"
    (click)="nextSlide()"
  />
  </div>

  <!-- Pagination Dots -->
  <div class="carousel-pagination">
    <span
      *ngFor="let item of carouselItems; let i = index"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    ></span>
  </div>
</div>



<div class="facilities-container">
  <div class="card-container" *ngFor="let card of cards">
    <div class="card card-blue">
      <div class="card-content">
        <img [src]="card.icon" alt="Doctor Icon" class="card-icon">
        <p class="card-text">{{card.title}}<br><span>{{card.title_1}}</span></p>
      </div>
    </div>
    <div class="card-background">
      <img [src]="card.image" alt="Ambulance" class="background-image">
    </div>
  </div>
</div>

<div class="overview-container">
  <!-- Left Side - Text Content -->
  <div class="text-content">
    <h4 class="section-title">Overview</h4>
    <h1 class="hospital-title">Aksha Hospital Bangalore</h1>
    <p class="description">
      Aksha Hospital is located in Jayanagar, Bengaluru. The hospital was set up with a vision of
      providing compassionate, ethical, innovative, and affordable global healthcare services. We
      hope to achieve this by making the best use of their resources and bringing about innovation
      in the field of medicine.
      <br /><br />
      Our team wants to bring holistic, accessible, and integrated healthcare to the doorstep of
      every patient and strongly believes in the idea of providing care with compassion. Every
      professional at the hospital is committed to providing world-class healthcare by encouraging
      their highly qualified professionals to deliver quality service. The hospital hopes to provide
      innovative healthcare services, comprehensive and safe facilities, and a responsive environment.
    </p>

    <!-- Special Features -->
    <div class="special-features">
      <h4>Aksha Hospitals Special Features</h4>
      <div class="list">
        <div>
          <ul>
            <li><img class="icon" src="../../assets/about-arrow.svg">Trauma Care and Obstetric Care</li>
            <li> <img class="icon" src="../../assets/about-arrow.svg"> ICU with Ventilator</li>
            <li> <img class="icon" src="../../assets/about-arrow.svg"> Dialysis</li>

          </ul>
        </div>
        <div class="list-2">
          <ul>
            <li> <img class="icon" src="../../assets/about-arrow.svg"> Deluxe Room</li>
            <li> <img class="icon" src="../../assets/about-arrow.svg"> At Affordable Cost</li>
            <li> <img class="icon" src="../../assets/about-arrow.svg"> Insurance is under Process</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="button">
      <button class="about-us-btn btn" (click)="about()"> <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>About Us &#xbb;</button>
    </div>
    <!-- About Us Button -->
  </div>

  <!-- Right Side - Images and Statistics -->
  <div class="right-content">
    <img class="right-image" src="../../assets/about.png">

  </div>
</div>


<div class="doctor-container">
  <h1 class="doc-con-heading">Meet Our Professionals</h1>
  <p class="doc-con-subheading">
    We offer extensive medical procedures to outbound and inbound patients, and we are very proud of the achievements of our staff. We are all working together to help our patients for recovery.
  </p>
  <div class="main-content">
    <!-- Left Scrollable List for Departments -->
    <div class="department-container">
      <div class="department-list">
        <div class="department-item" 
          *ngFor="let department of docDepartments" 
          (click)="selectDepartment(department)"
          [class.selected]="department.selected">
          <p>{{ department.name }}</p>
        </div>
      </div>
    </div>
  
    <div class="doctor-profile-container">
      <div class="doctor-profile" *ngFor="let doctor of filteredDoctors">
        <div class="doctor-image-wrapper">
          <img [src]="doctor.image" [alt]="doctor.name" class="doctor-image"/>
        </div>
    
        <div class="doctor-card">
          <h2 class="doctor-name">
            {{ doctor.name }} <span class="doctor-title">{{ doctor.qualification }}</span>
          </h2>
    
          <!-- Specialization and Experience -->
          <p class="specialization">{{ doctor.designation }}</p>
          <p class="experience">Years of Experience: <strong>{{ doctor.experience }}+</strong></p>
    
          <!-- Description -->
          <p class="doctor-description">
            {{ doctor.about }}
          </p>
    
          <!-- Button -->
          <div class="see-more">
            <button class="see-more-btn"(click)="navigateToDoctor(doctor.slug)"><svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>See More &raquo;</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  
</div>

<div class="departments-section">
  <h2 class="section-heading">We Are The</h2>
  <h1 class="section-subheading">Best Our Departments Centers</h1>
  <div class="icon-carousel-container" >
    <div class="arrow left-arrow" (click)="scrollLeft()" *ngIf="isMobile">&#9664;</div>

  <div class="icon-carousel" #carousel>
    <div class="icon-item" 
    *ngFor="let department of departments; let i = index"
    (mouseenter)="onHover(i)"
    (mouseleave)="onHover(-1)"
    [ngStyle]="{ backgroundColor: currentDepartmentIndex === i ? '#ffffff' : '#ffe4e6' }"
>
      <img [src]="department.icon" [alt]="department.name" class="icon-image"  />
    </div>
  </div>
  <div class="arrow right-arrow" (click)="scrollRight()" *ngIf="isMobile">&#9654;</div>
  </div>

  <div class="department-content">
    <div class="content-left">
      <h2>{{ selectedDepartment.name }}</h2>
      <p>
        {{ selectedDepartment.description }}
      </p>
      
    </div>
    <div class="content-right">
      <img [src]="selectedDepartment.image" [alt]="selectedDepartment.name" class="department-image" />
    </div>
  
  </div>
  <div class="button">
    <button class="view-more-btn btn"(click)="viewMore(selectedDepartment)"><svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>View More <img style="padding-left: 20px;width: 11px;height: 9px;" src="../../assets/arrow.png"></button>
  </div>
  
</div>


<div #counterSection class="number-container">
  <div class="number-1">
    <div class="text">
      <div class="num-text-container"> Powered By Over <strong>5,000+ </strong>Patients Trust Us With Their
        <strong>Sweet Love.</strong></div>
    </div>
    <div class="numbers">
      <div class="parent" *ngFor="let item of numbers.slice(0, 3); let i = index">
        <div class="number">
          {{ item.number }}<span *ngIf="item.showPlus">+</span>
        </div>
        <div class="subject">{{ item.statement }}</div>
      </div>
    </div>
  </div>
  <div class="number-2">
    <div class="text-2">
      <div class="num-text-container-1"><strong>Quality care</strong> made accessible to all.</div>
    </div>
    <div class="numbers">
      <div class="parent" *ngFor="let item of numbers.slice(3); let i = index">
        <div class="number">
          {{ item.number }}<span *ngIf="item.showPlus">+</span>
        </div>
        <div class="subject">{{ item.statement }}</div>
      </div>
    </div>
  </div>
</div>


<div class="why-choose-us-container">
  <h1 class="title-1">Aksha Hospital Bangalore</h1>
  <h2 class="title-1">Why Choose Us?</h2>
  <!-- Section 1 - Left Content, Right Image -->
  <div class="container">
    <div class="left">
      <div class="text-container">
        <div class="why-item left-text">
          <div class="text-content">
            <div class="icon-title">
              <img src="../../assets/choose-icon-1.png" alt="Icon 1" class="item-icon" />
              <h3>Quality Control</h3>
            </div>
            <p class="description">
              The hospital does not compromise on the quality of care it provides to the patients. To ensure that quality is maintained, the hospital conducts audits to monitor quality control.
            </p>
          </div>
        </div>

        <div class="why-item left-text">
          <div class="text-content">
            <div class="icon-title">
              <img src="../../assets/choose-icon-2.png" alt="Icon 2" class="item-icon" />
              <h3>Technology</h3>
            </div>
            <p class="description">
              The hospital has state-of-the-art technology in every department dedicated to the treatment, research and medical innovation. This technology is handled by expert technicians who have received the best training. The technology plays a role in providing efficient treatment.
            </p>
          </div>
        </div>

        <div class="why-item left-text">
          <div class="text-content">
            <div class="icon-title">
              <img src="../../assets/choose-icon-3.png" alt="Icon 3" class="item-icon" />
              <h3>Personalised Treatment Regimen</h3>
            </div>
            <p class="description">
              At the Aksha Hospital center, our experts provide a comprehensive approach in diagnosing and treating adults with diabetes and other endocrine disorders. We also believe in educating people to guide those who have diabetes to have a better quality of life.
            </p>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img class="left-image-1" src="../../assets/choose-1.png">
      </div>
    </div>


    <!-- Section 2 - Right Content, Left Image -->
    <div class="right">
      <div class="text-container">
        <div class="why-item right-text">

          <div class="text-content">
            <div class="icon-title">
              <img src="../../assets/choose-icon-4.png" alt="Icon 4" class="item-icon" />
              <h3>Round-the-Clock Treatment</h3>
            </div>
            <p class="description">
              The hospital has a high number of specialists, well-trained physicians and other staff who are kept on a rotational schedule, ensuring that patients receive care 24×7.
            </p>
          </div>
        </div>

        <div class="why-item right-text">

          <div class="text-content">
            <div class="icon-title">
              <img src="../../assets/choose-icon-5.png" alt="Icon 5" class="item-icon" />
              <h3>Compassionate Care</h3>
            </div>
            <p class="description">
              Physicians, nurses and other staff treat the patients by providing them with proper individualised care. They are dedicated to catering to every need of their patients. They hope to make the recovery process easier for the patient.
            </p>
          </div>
        </div>

        <div class="why-item right-text">
          <div class="text-content">
            <div class="icon-title">
              <img src="../../assets/choose-icon-6.png" alt="Icon 6" class="item-icon" />
              <h3>A Super Speciality Center</h3>
            </div>
            <p class="description">
              Being a super speciality centre, we encounter different disorders and diseases, and we are committed to the care of each illness equally. We also offer the best dental services in the town.
            </p>
          </div>
        </div>
      </div>
      <div class="image-container-2">
        <img class="left-image-2" src="../../assets/choose-2.png">
      </div>
    </div>
  </div>
</div>